/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

h1,
p {
  font-family: "Gloria Hallelujah", cursive;
}

p {
  color: gray;
}

h1 {
  color: black;
}

.first-section {
  background-color: #cbe4f9;
}

.second-section {
  background-color: #cdf5f6;
}
.third-section {
  background-color: #dfff9b;
}
.fourth-section {
  background-color: #f9ebdf;
}
.fifth-section {
  background-color: #f9d8d6;
}
.sixth-section {
  background-color: #d6cdea;
}

.bar {
  height: 25px;
  background-color: #ccc;
  position: relative;
  width: 200px;
}

.progress-bar {
  position: absolute;
  height: 100%;
  background-color: #fbffc6;
  animation: progress-animation 5s infinite;
}

@keyframes progress-animation {
  0% {
    width: 60%;
  }
  100% {
    width: 100%;
  }
}
